<section id="thank-you-section" class="text-gray-600 body-font">
  <div class="flex px-5 py-24 items-center justify-center flex-col">
    <%= inline_svg_tag "thank_you.svg", class: 'h-56 md:h-80 w-auto stroke-current text-blue-600' %>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Thank You!</h1>
      <p class="mb-8 text-2xl leading-relaxed">We will be in touch with you soon</p>
    </div>
  </div>
</section>