<div id="lead-create-route" class="max-w-full">

  <!-- Header -->
  <%= render @site.namespace + '/main/header' %>

  <!-- Contact Info Section -->
  <%= render 'contact_info' %>

  <!-- Footer -->
  <%= render @site.namespace + '/main/footer' %>

</div>



