<div id="lead-create-route" class="max-w-full">

  <!-- Header -->
  <%= render 'home_buyer_with_a_heart/main/header' %>

  <!-- Contact Info Section -->
  <%= render 'contact_info' %>

  <!-- Footer -->
  <%= render 'home_buyer_with_a_heart/main/footer' %>

</div>



