<div id="lead-captured-route" class="max-w-full">

  <!-- Header -->
  <%= render @site.namespace + '/main/header' %>

  <!-- Contact Details Section -->
  <%= render 'thank_you' %>

  <!-- Footer -->
  <%= render @site.namespace + '/main/footer' %>

</div>



