<div id="lead-captured-route" class="max-w-full">

  <!-- Header -->
  <%= render 'home_buyer_with_a_heart/main/header' %>

  <!-- Contact Details Section -->
  <%= render 'thank_you' %>

  <!-- Footer -->
  <%= render 'home_buyer_with_a_heart/main/footer' %>

</div>



