<div id="bad-request-route" class="max-w-full">

  <!-- Header -->
  <%= render 'home_buyer_with_a_heart/main/header' %>

  <section id="bad-request-section" class="text-gray-600 body-font">
  <div class="flex px-5 py-24 items-center justify-center flex-col">
    <%= inline_svg_tag "bad_request.svg", class: 'h-56 md:h-80 w-auto stroke-current text-blue-600' %>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Bad Request</h1>
      <p class="mb-8 text-2xl leading-relaxed">Huh, that seems like a bad request...</p>
      <p class="mb-8 text-2xl leading-relaxed">HTTP Status Code: <%= @error_code %></p>
    </div>
  </div>
</section>

  <!-- Footer -->
  <%= render 'home_buyer_with_a_heart/main/footer' %>

</div>



