<form>
  <div class="flex flex-col rounded-lg border dark:border-gray-600 overflow-hidden lg:flex-row">
      <input class="py-3 px-6 bg-white dark:bg-gray-800 text-gray-700 outline-none placeholder-gray-500 dark:placeholder-gray-400 focus:placeholder-transparent dark:focus:placeholder-transparent" type="text" name="email" placeholder="Enter your address" aria-label="Enter your email">
      
      <button class="py-3 px-4 bg-blue-600 text-gray-100 text-sm font-medium tracking-wider uppercase hover:bg-blue-400 focus:bg-gray-600 focus:outline-none">get your cash offer</button>
  </div>
</form>
