<div class="flex flex-col rounded-lg border dark:border-gray-600 overflow-hidden">

    <input class="text-sm md:text-base py-3 px-6 bg-white dark:bg-gray-800 text-gray-700 outline-none placeholder-gray-500 dark:placeholder-gray-400 focus:placeholder-transparent dark:focus:placeholder-transparent lg:flex-grow text-center" type="text" name="email" placeholder="Enter your address" aria-label="Enter your email">
    
    <button class="text-sm md:text-base py-3 px-4 bg-blue-600 text-gray-100 text-sm font-medium tracking-wider md:uppercase hover:bg-blue-400 focus:bg-gray-600 focus:outline-none lg:flex-grow flex-initial">Get Your Cash Offer</button>
</div>

