<section id="different-section" class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap w-full flex-col items-center text-center">
      <h1 class="text-3xl font-medium title-font text-center text-gray-900 mb-5">What Makes Us Different?</h1>
      <%= image_tag("HouseWithHeart.jpg", class: 'h-60') %>
      <p class="text-2xl font-medium title-font text-center text-gray-600 mb-5">We are Homebuyer with a Heart.  We all live through difficult times in our lives...trust us we have been there too.  We promise to treat you with respect and empathy.  We want to get to know you and understand your unique situation and we will work with you to get a fair offer.  We will also provide you with peace of mind and support throughout the sales process. </p>
    </div>
  </div>
</section>
