<section id="faq-section" class="text-gray-700 bg-blue-500">
  <div class="container px-5 py-10 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-white mb-4">
        Frequently Asked Questions
      </h1>
      <p class="text-base text-white leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        Maybe you have a few questions. That’s okay; most people do. So here’s a quick collection of some of the questions people ask us… along with our answers. If you still have a question, don’t hesitate to contact us (or give us a call) and we’ll be happy to answer it for you.
      </p>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
          Will you be listing my house on the MLS or actually buying it?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
          Great question. We’re not agents, and we don’t list houses. We are professional home buyers: We buy houses in Houston that meet our purchasing criteria. From there we may repair the house and resell it to another homeowner or keep it as a rental ourselves.
          </div>
        </details>
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
            Do you pay fair prices for properties?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
            Many of the houses we purchase are below market value (we do this so we can resell it at a profit to another homeowner). We are looking to get a fair discount on a property. However, in our experience, many sellers aren’t necessarily expecting a large “windfall” on the property but rather appreciate that we can offer cash, we close very quickly (no waiting for financing), and no time or effort or expense is required on your part to fix up the property or pay agent fees. If that’s what you’re looking for and you see the value in getting your house sold fast… let’s see if we can come to a fair win-win price. (Besides, our no-obligation pricing commitment means that you do not have to move forward with the offer we give… but it’s good to know what we’re offering!)
          </div>
        </details>
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
            How do you determine the price to offer on my house?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
            Great question, and we’re an open book: Our process is very straightforward. We look at the location of the property, what repairs are needed, the current condition of the property, and values of comparable houses sold in the area recently. As you know, house values have taken a huge hit in the last 5 years and most areas still haven’t seen prices come back up. We take many pieces of information into consideration… and come up with a fair price that works for us and works for you too.
          </div>
        </details>
      </div>
      <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
            Are there any fees or commissions to work with you?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
          This is what makes us stand out from the traditional method of selling your house: There are NO fees or commissions when you sell your house to us. We’ll make you an offer, and if it’s a fit then we’ll buy your house (and we’ll often pay for the closing costs too!). No hassle. No fees. We make our money after we pay for repairs on the house (if any) and sell it for a profit (we’re taking the risks here on whether we can sell it for a profit or not, once we buy the house from you… the responsibility is ours and you walk away without the burden of the property and its payments… and often with cash in your hand).
          </div>
        </details>
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
            How are you different from a real estate agent?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
            Real estate agents list properties and hope that someone will buy them. The agent shows the properties to prospective buyers if there are any (the average time to sell a property in many markets right now is 6-12 months) and then take a percentage of the sale price if they find a buyer. Oftentimes, the agent’s commission is 3-6% of the sale price of your house (so if it’s a $100,000 house, you’ll pay between $3,000 – $6,000 in commissions to an agent). Agents provide a great service for those that can wait 6-12 months to sell and who don’t mind giving up some of that sale price to pay for the commissions. But that’s where we’re different: We’re not agents, we’re home buyers. Our company actually buys houses. We don’t list houses. Since we’re actually the one buying the house from you, and we pay with all cash… we can make a decision to buy your house within a couple of days (sometimes the same day). Again, we make our living by taking the risk to buy the house with our own cash, repair the house, and market it ourselves to find a buyer (which is the hard part in this market).
          </div>
        </details>
        <details class="mb-4 bg-white rounded-md">
          <summary class="font-semibold rounded-md py-2 px-4">
            Is there any obligation when I submit my info?
          </summary>
          <div class="text-left rounded-md py-2 px-6">
            There is absolutely zero obligation for you. Once you tell us a bit about your property, we’ll take a look at things, maybe set up a call with you to find out a bit more, and make you an all-cash offer that’s fair for you and fair for us. From there, it’s 100% your decision on whether or not you’d like to sell your house to us… and we won’t hassle you, won’t harass you… it’s 100% your decision and we’ll let you decide what’s right for you.
          </div>
        </details>
      </div>
    </div>
  </div>
</section>
