<footer class="text-gray-600 body-font bg-gray-200">
  <div class="container px-5 py-10 mx-auto flex items-center flex-wrap flex-row">
    <div class="flex flex-col text-center w-full mb-5">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">Sell as is, pay zero fees. Move on your timeline. No repairs, cleanings or showings.</p>
      <div class="flex items-center justify-center pb-6 md:py-0 md:w-full m-10">
        <%= render 'contact_form' %>
      </div>
      <a id="main-link-footer" class="self-center cursor-pointer">
        <%= inline_svg_tag "HomeBuyerWithHeart.svg", class: 'self-center h-24' %>
      </a>
    </div>
  </div>
</footer>