<footer id="footer-section" class="text-gray-600 body-font bg-gray-200">
  <div class="container px-5 py-10 mx-auto flex items-center flex-wrap flex-row">
    <div class="flex flex-col text-center w-full">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">Sell as is, pay zero fees. Move on your timeline. No repairs, cleanings or showings.</p>

      <a id="main-link-footer" class="self-center cursor-pointer">
        <%= inline_svg_tag "HomeBuyerWithHeart.svg", class: 'self-center h-16' %>
      </a>
    </div>
  </div>
</footer>