<header class="text-gray-600 body-font">
  <div class="container mx-3 flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <%= image_tag("HomeBuyers.png") %>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-lg justify-center">
      <a id="how-it-works-link" class="cursor-pointer mr-5 hover:text-gray-900">How It Works</a>
      <a id="faq-link" class="cursor-pointer mr-5 hover:text-gray-900">FAQ</a>
      <a id="testimonials-link" class="cursor-pointer mr-5 hover:text-gray-900">Testimonials</a>
      <a id="contact-link" class="cursor-pointer mr-5 hover:text-gray-900">Contact</a>
      <a id="resources-link" class="cursor-pointer mr-5 hover:text-gray-900">Resources</a>
    </nav>
  </div>
</header>