<header id="navbar-header" class="text-gray-600 body-font grid grid-cols-header fixed w-screen transition-colors duration-150 z-10 px-5">
    <a id="main-link" class="self-center">
      <%= image_tag("HomeBuyerHeart.png", class: 'h-50') %>
    </a>
    <div class="flex flex-row flex-wrap justify-between content-center">
      <nav class="flex flex-wrap items-start text-base text-xl">
        <a id="how-it-works-link" class="cursor-pointer mr-5 hover:text-blue-900">Stress-Free Selling</a>
        <a id="about-us-link" class="cursor-pointer mr-5 hover:text-blue-900">About Us</a>
        <a id="different-link" class="cursor-pointer mr-5 hover:text-blue-900">What Makes us Different</a>
        <a id="faq-link" class="cursor-pointer mr-5 hover:text-blue-900">FAQs</a>
      </nav>
      <div class="flex flex-wrap items-start text-lg">
        <p class="mr-5">Family Owned and Operated</p>
        <%= inline_svg_tag "phone-alt-solid.svg", class: 'h-5 self-center stroke-current text-blue-600' %>
        <p>&nbsp;&nbsp;(832) 508-6326</p>
      </div>
    </div>


</header>