<div id="hero-section" class="bg-cover bg-scroll bg-center bg-no-repeat h-screen" style="background-image: url(<%= image_url('lady_wall.jpg') %>)">

  <!-- Hero Content -->
  <%= render 'hero_content' %>

</div>