<div class="bg-cover bg-scroll h-screen bg-center bg-no-repeat" style="background-image: url(<%= image_url('lady_wall.jpg') %>)">

  <!-- Header -->
  <%= render 'header' %>
  <!-- Hero Content -->
  <%= render 'hero_content' %>

</div>