<section id="hero-section" class="bg-cover bg-scroll bg-center bg-no-repeat w-auto" style="background-image: url(<%= image_url('lady_wall.jpg') %>)">
  <div class="grid grid-cols-12 grid-rows-6 h-full">
    <div class="flex flex-col justify-between p-8 row-start-2 row-span-4 col-start-2 col-span-4 border border-gray-200 rounded-lg shadow bg-gray-100 bg-opacity-25">
        <h1 class="text-4xl text-gray-900">Does Your House Need Some Love?</h1>
        <p class="text-3xl">Sell Fast! We are your Reliable and Trusted Cash Buyer.</p>
        <p class="text-2xl">Sell as-is. No repairs, updates or showings. Move on your timeline. Pay zero fees.</p>
        <div class="">
          <!-- Contact Form -->
          <%= render 'contact_form' %>
        </div>
    </div>
  </div>
</section>
