<section class="text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 py-24 mx-auto items-center">
    <div class="md:w-1/2 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Houston's Trusted and Reliable Cash Buyer</h1>
      <p class="leading-relaxed text-base">We look forward to hearing from you. Get started today with a no-obligation offer.</p>
    </div>
    <!-- Contact Form -->
    <%= render 'contact_form' %>
</section>
