<section id="stress-free-selling-section" class="bg-white dark:bg-gray-800">
    <div class="container mx-auto px-6 py-10">
      <div>
        <h1 class="font-bold title-font text-center text-gray-900 mb-2 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl">How It Works</h1>
        <h3 class="font-medium title-font text-center text-gray-600 mb-10 text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl">Sell your house for cash in three easy steps</h3>
      </div>
      <div class="grid gap-2 md:gap-5 grid-cols-1 md:grid-cols-3 justify-items-auto text-center text-base md:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-gray-800 dark:text-white">1. Enter Your Address</h1>
          <%= inline_svg_tag "comments-solid.svg", class: 'h-12 mx-auto my-3 md:my-10 stroke-current text-blue-600 md:h-18 lg:h-24 xl:h-26 2xl:h-32 3xl:h-36' %>
          <p class="m-2 text-gray-500 dark:text-gray-400">We research the details of your home and start crafting a great for you</p>
        </div>
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-gray-800 dark:text-white">2. Get Your Offer</h1>
          <%= inline_svg_tag "newspaper-regular.svg", class: 'h-12 mx-auto my-3 md:my-10 stroke-current text-blue-600 md:h-18 lg:h-24 xl:h-26 2xl:h-32 3xl:h-36' %> 
          <p class="m-2 text-gray-500 dark:text-gray-400">We present you with a fair cash offer with no obligation and no fees</p>
        </div>
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-gray-800 dark:text-white">3. Get Paid Fast</h1>
          <%= inline_svg_tag "dollar-sign-solid.svg", class: 'h-12 mx-auto my-3 md:my-10 stroke-current text-blue-600 md:h-18 lg:h-24 xl:h-26 2xl:h-32 3xl:h-36' %>
          <p class="m-2 text-gray-500 dark:text-gray-400">Accept your all cash offer and get the money you need now</p>
        </div>
      </div>

    </div>

    <div class="flex flex-col justify-center items-center">
      <div class="w-auto mb-6">
        <button class="get-offer-buttons uppercase text-tiny py-1 px-2 bg-blue-600 text-gray-100 font-medium tracking-wider flex-initial w-full cursor-pointer rounded shadow-sm text-center hover:bg-blue-400 focus:bg-gray-600 focus:outline-none md:text-sm lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-3xl md:py-3 md:px-4">Get Your Free, No Obligation, Cash Offer</button>
      </div>
    </div>
    
</section>
