
<% background_url = 
  if mobile_device == 'mobile'
    'ursula_smiling_mobile.jpg'
  elsif mobile_device == 'tablet'
    'ursula_smiling_tablet.jpg'
  else 
    'ursula_smiling.jpg'   
  end %>

<section id="landing-section" class="bg-cover bg-scroll bg-center bg-no-repeat w-screen flex flex-col justify-center items-end" style="background-image: url('<%= image_url(background_url) %>')">

    <div class="flex flex-col justify-evenly w-2/5 h-auto min-h-3/5 max-h-5/6 mr-4 p-2 md:w-2/5 md:min-h-3/5 md:max-h-5/6 md:mr-10 lg:w-2/6 lg:mr-20 xl:mr-20 2xl:mr-28 3xl:mr-36 shadow-lg rounded-lg bg-white bg-opacity-90 md:bg-opacity-95 md:p-6 md:border md:border-gray-200">
      <h1 class="font-bold title-font text-center text-gray-900 text-xl md:p-2 md:mb-2 md:text-3xl lg:text-3xl 2xl:text-4xl 3xl:text-6xl">Need to sell your house?</h1>
      <p class="text-center text-xs md:p-2 md:mb-2 md:text-xl lg:text-xl 2xl:text-2xl 3xl:text-4xl">Enter your information and receive a free, no obligation, cash offer within 24 hours.</p>
      <div class="md:w-3/4 md:self-center mb-2 md:mb-2">
        <!-- Contact Form -->
        <%= render 'contact_form' %>
      </div>
      <p class="text-center text-xs md:p-2 md:text-xl lg:text-xl 2xl:text-2xl 3xl:text-4xl">Need to sell quickly? Sell 'As-Is.' No repairs, updates or showings. Move on your timeline. Pay zero fees.</p>
    </div>

</section>

