
<% background_url = 
  if mobile_device == 'mobile'
    'ursula_smiling_mobile.jpg'
  elsif mobile_device == 'tablet'
    'ursula_smiling_tablet.jpg'
  else 
    'ursula_smiling.jpg'   
  end %>

<section id="landing-section" class="bg-cover bg-scroll bg-center bg-no-repeat w-screen inset-0" style="background-image: url('<%= image_url(background_url) %>')">
  <div class="grid grid-cols-32 grid-rows-32 lg:grid-cols-32 lg:grid-rows-32 h-full">

    <div class="flex flex-col justify-center p-2 shadow-lg rounded-lg row-start-5 row-span-24 col-start-18 col-span-14 bg-white md:p-6 md:justify-evenly md:row-start-4 md:row-span-26 md:col-start-20 md:col-span-12 lg:row-start-7 lg:row-span-22 lg:col-start-21 lg:col-span-10 md:border md:border-gray-200 xl:row-start-4 xl:row-span-26 xl:col-start-21 xl:col-span-10 2xl:row-start-7 2xl:row-span-22 2xl:col-start-21 2xl:col-span-10">
      <h1 class="text-center text-xl md:text-2xl mb-2 md:mb-2 lg:text-3xl xl:text-4xl text-gray-900">Need to sell your house fast?</h1>
      <p class="text-center text-xs md:text-base mb-2 md:mb-2 lg:text-xl xl:text-2xl">Sell as-is...No repairs, updates or showings. Move on your timeline. Pay zero fees.</p>
      <div class="md:w-3/4 md:self-center mb-4 md:mb-2">
        <!-- Contact Form -->
        <%= render 'contact_form' %>
      </div>
      <p class="text-center text-xs md:text-xl lg:text-2xl xl:text-3xl">You will receive a free, no obligation, cash offer within 24 hours.</p>
    </div>

  </div>
</section>

