<section id="stress-free-selling-section" class="bg-white dark:bg-gray-800">
    <div class="container mx-auto px-6 py-10">
      <div>
        <h1 class="text-2xl md:text-3xl font-medium title-font text-center text-gray-900 mb-5">How It Works</h1>
        <h3 class="text-xl md:text-2xl font-medium title-font text-center text-gray-600 mb-10">Sell your house for cash in three easy steps</h3>
      </div>
      <div class="grid gap-5 grid-cols-1 md:grid-cols-3 justify-items-auto text-center">
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-base md:text-xl text-gray-800 dark:text-white text-base">1. Enter Your Address</h1>
          <%= inline_svg_tag "comments-solid.svg", class: 'h-12 md:h-24 mx-auto my-10 stroke-current text-blue-600' %>
          <p class="mt-2 text-gray-500 dark:text-gray-400 text-base md:text-xl">We research the details of your home and start crafting a great for you</p>
        </div>
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-base md:text-xl text-gray-800 dark:text-white text-base md:text-xl">2. Get Your Offer</h1>
          <%= inline_svg_tag "newspaper-regular.svg", class: 'h-12 md:h-24 mx-auto my-10 stroke-current text-blue-600' %> 
          <p class="mt-2 text-gray-500 dark:text-gray-400 text-base md:text-xl">We present you with a fair cash offer with no obligation and no fees</p>
        </div>
        <div class="flex flex-col justify-start">
          <h1 class="font-semibold text-base md:text-xl text-gray-800 dark:text-white text-base md:text-xl">3. Get Paid Fast</h1>
          <%= inline_svg_tag "dollar-sign-solid.svg", class: 'h-12 md:h-24 mx-auto my-10 stroke-current text-blue-600' %>
          <p class="mt-2 text-gray-500 dark:text-gray-400 text-base md:text-xl">Accept your all cash offer and get the money you need now</p>
        </div>
      </div>

    </div>
</section>
