<!-- Display Container (not part of component) START -->
  <section id="testimonials-section" class="mx-auto p-5 sm:p-24 lg:p-10">

  <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-10">Testimonials</h1>
    
    <!-- Carousel Body -->
    <div class="w-3/4 mx-auto relative rounded-lg block md:flex items-center bg-gray-100 shadow-xl" style="min-height: 19rem;">
      <div class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg" style="min-height: 19rem;">
        <%= image_tag("couple_greet.jpg") %>
        <div class="absolute inset-0 w-full h-full bg-blue-500 opacity-50"></div>

      </div>
      <div class="w-full md:w-3/5 h-full flex items-center bg-gray-100 rounded-lg">
        <div class="p-12 md:pr-24 md:pl-16 md:py-12">
          <p class="text-gray-600 text-3xl">Fast! I needed to sell a home in 48 hours. Your team of investors was able to get the deal done!</p>
          <p class="text-gray-600 text-3xl text-right mt-5">- Lane R., August 21, 2019</p>
        </div>
        <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
      </div>
      <button class="absolute top-0 mt-40 left-0 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-blue-500 hover:text-blue-800 focus:text-blue-800 -ml-6 focus:outline-none focus:shadow-outline">
        <span class="block" style="transform: scale(-1);">&#x279c;</span>
      </button>
      <button class="absolute top-0 mt-40 right-0 bg-white rounded-full shadow-md h-12 w-12 text-2xl text-blue-500 hover:text-blue-800 focus:text-blue-800 -mr-6 focus:outline-none focus:shadow-outline">
        <span class="block" style="transform: scale(1);">&#x279c;</span>
      </button>
    </div>

    
  </section>
  <!-- Display Container (not part of component) END -->