<section id="what-makes-us-different" class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap w-full flex-col items-center text-center">
      <h1 class="font-bold title-font text-center text-gray-900 mb-5 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl">What Makes Us Different?</h1>
      <%= image_tag("HouseWithHeart.jpg", class: 'h-52 xl:h-56 2xl:h-72 3xl:h-80') %>
      <p class="font-medium title-font text-center text-gray-600 mb-5 text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">We are Homebuyer with a Heart.  We all live through difficult times in our lives...trust us we have been there too.  We promise to treat you with respect and empathy.  We want to get to know you and understand your unique situation and we will work with you to get a fair offer.  We will also provide you with peace of mind and support throughout the sales process. </p>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="w-auto mb-6">
      <button class="get-offer-buttons uppercase text-tiny py-1 px-2 bg-blue-600 text-gray-100 font-medium tracking-wider flex-initial w-full cursor-pointer rounded shadow-sm text-center hover:bg-blue-400 focus:bg-gray-600 focus:outline-none md:text-sm lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-3xl md:py-3 md:px-4">Get Your Free, No Obligation, Cash Offer</button>
    </div>
  </div>
</section>
