<div id="lead-create-route" class="max-w-full">

  <!-- Header -->
  <%= render 'magellan/header' %>

  <!-- Contact Info Section -->
  <%= render 'contact_info' %>

  <!-- Footer -->
  <%= render 'magellan/footer' %>

</div>



