<div id="lead-captured-route" class="max-w-full">

  <!-- Header -->
  <%= render 'magellan/header' %>

  <!-- Contact Details Section -->
  <%= render 'thank_you' %>

  <!-- Footer -->
  <%= render 'magellan/footer' %>

</div>



