<div id="lead-update-route" class="max-w-full">

  <!-- Header -->
  <%= render 'magellan/header' %>

  <!-- Contact Details Section -->
  <%= render 'contact_details' %>

  <!-- Footer -->
  <%= render 'magellan/footer' %>

</div>



