<header id="navbar-header" class="bg-white shadow fixed top-0 z-20 w-full">
  <nav class="bg-white dark:bg-gray-800 shadow">
    <div class="px-6 py-3 md:flex md:justify-start md:items-center">
      <div class="flex justify-between items-center">
        <div>
          <a id="home-link" class="self-center cursor-pointer">
            <%= inline_svg_tag "home_buyer_with_a_heart.svg", class: 'h-10 md:h-12 lg:h-14 xl:h-14 2xl:h-18 3xl:h-20' %>
          </a>
        </div>

        <!-- Mobile menu button -->
        <div id="mobile-menu-button" class="flex md:hidden">
          <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600  dark:focus:text-gray-400" aria-label="toggle menu">
            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
              <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div id="mobile-menu" class="hidden md:block md:flex w-full md:justify-between">
        <div class="flex flex-col flex-shrink flex-wrap md:flex-row lg:mx-6 md:mx-2 md:items-center md:text-xl lg:text-2xl 2xl:text-3xl 3xl:text-4xl">
          <a id="we-can-help-link" class="my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600">We Can Help</a>
          <a id="how-it-works-link" class="my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600">How It Works</a>
          <a id="testimonials-link" class="my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600">Testimonials</a>
          <a id="about-us-link" class="my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600">About Us</a>
          <a id="what-makes-us-different-link" class="my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600">What Makes us Different</a>
          <%= link_to "FAQs", faq_path, id: "faq-link", class: "my-1 md:mx-2 lg:mx-4 md:my-0 cursor-pointer hover:text-red-600" %>
        </div>
        <hr class="md:hidden h-px my-2 bg-gray-300 dark:bg-gray-700 border-none">
        <div class="flex flex-col md:items-end">
          <div class="md:text-right md:min-w-max md:text-xl lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl"><%= inline_svg_tag "phone-alt-solid.svg", class: 'h-4 md:h-5 lg:h-4 xl:h-6 2xl:h-6 3xl:h-10 inline-block stroke-current text-blue-600' %>&nbsp;&nbsp;(832) 621-4686</div>
          <div class="text-gray-500 md:text-sm md:text-right lg:text-base xl:text-xl 2xl:text-2xl 3xl:text-3xl">Family Owned and Operated</div>
        </div>
      </div>
      </div>
    </nav>
  </header>
