<section id="testimonials-section" class="mx-auto p-5 sm:p-24 lg:p-10">

  <h1 class="font-bold title-font text-center text-gray-900 mb-10 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl">Testimonials</h1>
  <div class="carousel container mx-auto">
    <div class="carousel-inner">
      <input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item w-10/12 md:w-3/4 mx-auto">
          <div class="flex justify-center">
            <div class="text-center shadow-xl p-5 md:p-10 m-5 rounded-lg bg-gray-300">
              <p class="leading-relaxed text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl">Fast! I needed to sell a home in 48 hours. Your team of investors was able to get the deal done!</p>
              <span class="inline-block h-1 w-10 rounded bg-blue-600 mt-8 mb-6 lg:w-40"></span>
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-base md:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">Lane R.</h2>
              <p class="text-gray-500 text-base md:text-xl xl:text-xl 2xl:text-xl 3xl:text-2xl">August 21, 2019</p>
            </div>
          </div>
        </div>
        <input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
          <div class="carousel-item w-10/12 md:w-3/4 mx-auto">
            <div class="flex justify-center">
              <div class="text-center shadow p-5 md:p-10 m-5 rounded-lg bg-gray-300">
                <p class="leading-relaxed text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl">Wow, thank you! After initially trying to list the house myself and being unable to find a buyer, they stepped in and paid me cash for my home!</p>
                <span class="inline-block h-1 w-10 rounded bg-blue-600 mt-8 mb-6 lg:w-40"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-base md:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">Saundra E.</h2>
                <p class="text-gray-500 text-base md:text-xl xl:text-xl 2xl:text-xl 3xl:text-2xl">October 12, 2019</p>
              </div>
            </div>
          </div>
          <input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item w-10/12 md:w-3/4 mx-auto">
              <div class="flex justify-center">
                <div class="text-center shadow p-5 md:p-10 m-5 rounded-lg bg-gray-300">
                  <p class="leading-relaxed text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl">Incredible Service! I live in Ohio and needed to sell a home I inherited in Houston. You guys bought it for cash in less than a week</p>
                  <span class="inline-block h-1 w-10 rounded bg-blue-600 mt-8 mb-6 lg:w-40"></span>
                  <h2 class="text-gray-900 font-medium title-font tracking-wider text-base md:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">Tom B.</h2>
                  <p class="text-gray-500 text-base md:text-xl xl:text-xl 2xl:text-xl 3xl:text-2xl">April 13, 2020</p>
                </div>
              </div>
            </div>
            <label for="carousel-3" class="carousel-control prev control-1 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">‹</label>
            <label for="carousel-2" class="carousel-control next control-1 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">›</label>
            <label for="carousel-1" class="carousel-control prev control-2 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">‹</label>
            <label for="carousel-3" class="carousel-control next control-2 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">›</label>
            <label for="carousel-2" class="carousel-control prev control-3 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">‹</label>
            <label for="carousel-1" class="carousel-control next control-3 text-8xl md:text-14xl xl:text-16xl 2xl:text-18-rem 3xl:text-22-rem">›</label>
            <ol class="carousel-indicators">
              <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
              </li>
              <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
              </li>
              <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
              </li>
            </ol>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="w-auto mb-6">
            <button class="get-offer-buttons uppercase text-tiny py-1 px-2 bg-blue-600 text-gray-100 font-medium tracking-wider flex-initial w-full cursor-pointer rounded shadow-sm text-center hover:bg-blue-400 focus:bg-gray-600 focus:outline-none md:text-sm lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-3xl md:py-3 md:px-4">Get Your Free, No Obligation, Cash Offer</button>
          </div>
        </div>

      </section>
