<section id="we-can-help-section" class="bg-white dark:bg-gray-800">
    <div class="container mx-auto px-6 py-10">
      <div>
        <h1 class="font-bold title-font text-center text-gray-900 mb-2 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl">We Can Help</h1>
      </div>
      <div class="flex mx-auto m-2 shadow w-5/6">
        <video class="rounded w-full h-auto" preload="auto" src="https://foreclosure-solutions.s3.amazonaws.com/homebuyer_heart_intro.mp4" type="video/mp4" controls></video>
      </div>

    </div>

    <div class="flex flex-col justify-center items-center">
      <div class="w-auto mb-6">
        <button class="get-offer-buttons uppercase text-tiny py-1 px-2 bg-blue-600 text-gray-100 font-medium tracking-wider flex-initial w-full cursor-pointer rounded shadow-sm text-center hover:bg-blue-400 focus:bg-gray-600 focus:outline-none md:text-sm lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-3xl md:py-3 md:px-4">Get Your Free, No Obligation, Cash Offer</button>
      </div>
    </div>
    
</section>
