<footer id="footer-section" class="text-gray-600 body-font bg-gray-200">
  <div class="container px-5 py-10 mx-auto flex items-center flex-wrap flex-row">
    <div class="flex flex-col text-center w-full">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base md:text-xl 2xl:text-3xl 3xl:text-3xl">Buy this house, please</p>

      <a id="footer-home-link" class="self-center cursor-pointer">
        <%= image_tag "foreclosure_solutions.png", class: 'self-center h-10 3xl:h-24' %>
      </a>
    </div>
  </div>
</footer>