<div class="flex flex-col justify-center">
  <!-- Header -->
  <%= render @site.namespace + '/main/header' %>
  <div id="texas-test-route">
    <h1>Buy Your House Texas Test Page</h1>
    <p>Coming Soon</p>
  </div>


  <!-- Footer -->
  <%= render @site.namespace + '/main/footer' %>
</div>